In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder

In [20]:
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

In [4]:
test.head(5)

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,76518,1,1,1,9500,1,1,141.0,1,3,...,0,0,8,0,0,0.000000,0,13.9,-0.3,0.79
1,76519,1,1,1,9238,1,1,128.0,1,1,...,0,0,6,6,6,13.500000,0,11.1,0.6,2.02
2,76520,1,1,1,9238,1,1,118.0,1,1,...,0,0,6,11,5,11.000000,0,15.5,2.8,-4.06
3,76521,1,44,1,9147,1,39,130.0,1,1,...,0,3,8,14,5,11.000000,0,8.9,1.4,3.51
4,76522,1,39,1,9670,1,1,110.0,1,1,...,0,0,6,9,4,10.666667,2,7.6,2.6,0.32

In [69]:
train.head(5)

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,1,1,1,9238,1,1,126.0,1,1,...,0,6,7,6,12.428571,0,11.1,0.6,2.02,Graduate
1,1,1,17,1,9238,1,1,125.0,1,19,...,0,6,9,0,0.000000,0,11.1,0.6,2.02,Dropout
2,2,1,17,2,9254,1,1,137.0,1,3,...,0,6,0,0,0.000000,0,16.2,0.3,-0.92,Dropout
3,3,1,1,3,9500,1,1,131.0,1,19,...,0,8,11,7,12.820000,0,11.1,0.6,2.02,Enrolled
4,4,1,1,2,9500,1,1,132.0,1,19,...,0,7,12,6,12.933333,0,7.6,2.6,0.32,Graduate

In [17]:
dimensions = test.shape
print(f"Dimensions of the DataFrame: {dimensions}")
dimensions = train.shape
print(f"Dimensions of the DataFrame: {dimensions}")

Dimensions of the DataFrame: (51012, 37)
Dimensions of the DataFrame: (76518, 38)

In [ ]:
test.isnull().sum()

In [ ]:
train.isnull().sum()

In [57]:
train.dtypes

id                                                  int64
Marital status                                      int64
Application mode                                    int64
Application order                                   int64
Course                                              int64
Daytime/evening attendance                          int64
Previous qualification                              int64
Previous qualification (grade)                    float64
Nacionality                                         int64
Mother's qualification                              int64
Father's qualification                              int64
Mother's occupation                                 int64
Father's occupation                                 int64
Admission grade                                   float64
Displaced                                           int64
Educational special needs                           int64
Debtor                                              int64
Tuition fees up to date                             int64
Gender                                              int64
Scholarship holder                                  int64
Age at enrollment                                   int64
International                                       int64
Curricular units 1st sem (credited)                 int64
Curricular units 1st sem (enrolled)                 int64
Curricular units 1st sem (evaluations)              int64
Curricular units 1st sem (approved)                 int64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)      int64
Curricular units 2nd sem (credited)                 int64
Curricular units 2nd sem (enrolled)                 int64
Curricular units 2nd sem (evaluations)              int64
Curricular units 2nd sem (approved)                 int64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)      int64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object

In [77]:
train.Target.value_counts()

Target
Graduate    36282
Dropout     25296
Enrolled    14940
Name: count, dtype: int64

In [71]:
# train['Target'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 76518 entries, 0 to 76517
Series name: Target
Non-Null Count  Dtype
--------------  -----
76518 non-null  object
dtypes: object(1)
memory usage: 597.9+ KB

In [21]:
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

In [19]:
# train['Target'] = train['Target'].apply(lambda x: 1 if x == 'Graduate' else (2 if x == 'Enrolled' else 0))

In [16]:
train['Target'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 76518 entries, 0 to 76517
Series name: Target
Non-Null Count  Dtype
--------------  -----
76518 non-null  int64
dtypes: int64(1)
memory usage: 597.9 KB

In [17]:
train.Target.value_counts()

Target
1    36282
0    25296
2    14940
Name: count, dtype: int64

In [10]:
train = train.select_dtypes(include=[np.number])

In [11]:
cor_matrix = train.corr()

In [ ]:
# plt.figure(figsize=(40, 40))
# sns.heatmap(cor_matrix, annot=True, fmt=".2f", cmap='coolwarm', square=True)
# plt.title('Correlation Matrix Heatmap')
# plt.savefig('correlation_matrix_heatmap_train_dataset.png', dpi=300, bbox_inches='tight')
# plt.show()

In [18]:
train.corr()['Target'].sort_values(ascending=False)

Target                                            1.000000
Curricular units 2nd sem (grade)                  0.579027
Curricular units 1st sem (grade)                  0.527749
Curricular units 2nd sem (approved)               0.476784
Curricular units 1st sem (approved)               0.463164
Tuition fees up to date                           0.367774
Curricular units 2nd sem (evaluations)            0.358000
Curricular units 1st sem (evaluations)            0.292635
Course                                            0.139493
Scholarship holder                                0.136215
Curricular units 2nd sem (enrolled)               0.129250
Curricular units 1st sem (enrolled)               0.124453
Daytime/evening attendance                        0.102392
Displaced                                         0.095221
GDP                                               0.059995
Admission grade                                   0.049561
Application order                                 0.036708
Curricular units 1st sem (credited)               0.008397
Curricular units 2nd sem (credited)               0.007903
Previous qualification (grade)                    0.006963
Educational special needs                         0.001115
id                                               -0.000132
Nacionality                                      -0.002565
International                                    -0.002574
Father's occupation                              -0.010056
Mother's occupation                              -0.014400
Father's qualification                           -0.015402
Curricular units 2nd sem (without evaluations)   -0.016052
Curricular units 1st sem (without evaluations)   -0.018133
Inflation rate                                   -0.029018
Unemployment rate                                -0.040273
Previous qualification                           -0.053508
Mother's qualification                           -0.083747
Marital status                                   -0.101753
Gender                                           -0.180484
Debtor                                           -0.198563
Application mode                                 -0.211198
Age at enrollment                                -0.256851
Name: Target, dtype: float64